.header {
    background-color: #fff;
    padding: 0;
    border-bottom: 1px solid #e72929;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header a {
    color: red;
    opacity: 0.8;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.header a:hover {
    text-decoration: none;
    opacity: 1;
    cursor: pointer;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
    color: #e72929;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: 1rem;
    font-weight: 700;
}

.header ul {
    display: flex;
    list-style-type: none;
}

.header ul a {
    padding: 1rem;
    display: inline-block;
}

.menu_container {
    position: relative;
}

.menu {
    position: absolute;
    z-index: 10001;
    background-color: whitesmoke;
    display: none;
}

.menu_container:hover .menu {
    display: block;
}

menu a {
    width: 100%;
    min-width: 8rem;
}

.cart_count {
    background-color: #e72929;
    color: #fff;
    padding: 0.1rem 0.45rem;
    border-radius: 50%;
    font-size: 0.8rem;
}