.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.container > * {
    min-width: 25rem;
    max-width: 40rem;
}

.image {
    border-radius: 3rem;
    flex: 1 0;
    object-fit: cover;
    height: 35rem;
    margin: 1rem;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-radius: 3rem;
    padding: 2rem;
    color: black;
    margin-left: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.name {
    font-size: 2rem;
    font-weight: 600;
}

.favorite {
    font-size: 2.5rem;
    color: #e72929;
    cursor: pointer;
}

.favorite.not{
    color: #000000;
}

.origins {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.origins > span {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    margin: 0.5rem 0.5rem 0 0;
    border-radius: 1rem;
    background-color: aliceblue;
}

.cook_time {
    margin-top: 1rem;
}

.cook_time > span {
    padding: 0.6rem 2rem 0.6rem 0;
    border-radius: 10rem;
    font-size: 1.5rem;
}

.cook_time.label {
    font-weight: 600;
}

.cook_time.value {
    font-weight: bold;
}

.price {
    margin: 2rem 2rem 2rem 0;
    font-size: 2rem;
    font-weight: 200;
    color: green;
}

.price::before {
    content: "Price: ";
    color: darkgray;
}

.container button {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    background-color: #e72929;
    color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border: 0.1rem solid brown;
    font-weight: 600;
}

.container button:hover {
    opacity: 0.9;
}