.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}

.details {
    width: 25rem;
}

.details form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}